{% extends 'main.html' %}
{% block title %}
About
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="static\style\about.css">
{% endblock link %}



{% block body %}
<div class="container">
    <div>
        <h1>About</h1>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste omnis repudiandae maxime debitis quod nemo
            iusto
            nobis nihil, laudantium eveniet. Natus debitis blanditiis ullam laboriosam ratione placeat accusantium illo
            voluptatum.
        </p>
    </div>
</div>
{% endblock body %}