{% extends 'main.html' %}
{% block link %}
<link rel="stylesheet" href="static/style/index.css">
{% endblock link %}

{% block body %}
<main>
    <p>Welcome to our shopping site</p>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
            elitLorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quas magnam modi accusamus
            blanditiis deleniti,Lorem ipsum dolor sit amet consectetur adipisicing elit. possimus quia nisi reiciendis
            sed id non culpa delectus esse sunt corrupti exercitationem sit saepe.Lorem ipsum dolor sit amet consectetur
            adipisicing eli</p>
    </div>
    <button style="width: 95px;height: 32px;color: chartreuse;background: dimgrey;">Get Started</button>
</main>
{% endblock body %}